:root {
  --red: #F44336;
  --pink: #E91E63;
  --purple: #9C27B0;
  --deeppurle: #673AB7;
  --indigo: #3F51B5;
  --blue: #2196F3;
  --blueDrak: #3931FF;
  --lightblue: #03A9F4;
  --cyan: #00BCD4;
  --teal: #009688;
  --green: #4CAF50;
  --lightgreen-1: #19D0A2;
  --lightgreen-2: #8BC34A;
  --drakblue: #006db3;
  --lime: #CDDC39;
  --yellow: #FFEB3B;
  --amber: #FFC107;
  --orange: #FF9800;
  --deeporange: #FF5722;
  --brown: #795548;
  --grey: #9E9E9E;
  --bluegrey: #607D8B;
  --chartred: #e17055;
  --chartgreen: #2ecc71;
  --chartorange: #f39c12;
  --chartgrey: #bdc3c7;
  --chartgrey1: #D0D6DB;
  --chartgrey2: #dfe2e6;
  --chartgrey3: #edeff1;
  --lightgrey1: #9ea7aa;
  --grey1: #808e95;
  --darkgrey1: #62757f;
  --greenshadedark: #9ccc65;
  --greenshadedarker: #15B67C;
  --greenshade: #aed581;
  --greenshadelight: #c5e1a5;
  --orangeshadedark: #ffb74d;
  --orangeshade: #ffcc80;
  --orangeshadelight: #ffe0b2;
  --brownshadedark: #bcaaa4;
  --brownshade: #d7ccc8;
  --brownshadelight: #efebe9;
  --cornflowerblue: #5A7BF6;
  --cornflowerblueBG: rgb(90 123 246 / 15%);
  --internationalKleinBlue: #003AA5;
  --internationalKleinBlueBG: #003AA5;
  --black: #000;
  --tundora: #484848;
  --white: #fff;
  --bluegradiant: linear-gradient(44.73deg,#1F263E 0%,#6066B5 100%);
  --lightbluegradiant: linear-gradient(90deg,#7792D6 0%,#3464CF 100%);
  --darkbluegradiant: linear-gradient(145.87deg,#43579B 0%,#111C47 100%);
  --purpulegradiant: linear-gradient(15.76deg,#5A65F2 0%,#7533D7 100%);
  --bluewhitegradiant: linear-gradient(158.67deg,#7489C9 0%,#405198 100%);
  --lightNavygradiant: linear-gradient(270deg,#6D75C8 0%,#5B7BF6 100%);
  --scampi: #555BA1;
  --indigoshade1: #5077D1;
  --indigoshade2: #506AC3;
  --chambray: #39498B;
  --waikawagray: #6674A2;
  --pictonblue: #45B1F2;
  --seabuckthorn: #F9AF2D;
  --alto: #D8D8D8;
  --redorange: #F33;
  --redorangeBG: rgb(255 51 51 / 15%);
  --pealsky: #666E85;
  --melrose: #99ACFF;
  --malibu: #8299FF;
  --silver: #BEBEBE;
  --mercury: #E2E2E2;
  --gallery: #EEE;
  --dustygrey: #959595;
  --danube: #647AD1;
  --periwinkle: #D6DDFF;
  --dustygray: #9B9B9B;
  --tuna: #313137;
  --concrete: #F2F2F2;
  --alabaster: #FAFAFA;
  --mediumredviolet: #CA2D7A;
  --malachite: #13BF5D;
  --azureradiance: #008EFF;
  --seashell: #F1F1F1;
  --burningorange: #FC6B35;
  --mountainmeadow: #19BE7E;
  --dodgerblue: #3881F3;
  --dodgerbluelight: #28B0F3;
  --dodgerbluelighter: #2BC8FF;
  --purpleheart: #7038D8;
  --mediumpurple: #905FEC;
  --fiord: #3B4361;
  --java: #1FC4A6;
  --javalighter: #19D0A2;
  --havelockblue: #579CDF;
  --havelockbluedark: #637BDD;
  --havelockbluedarker: #5B70D9;
  --zircon: #E9EEFF;
  --malibu: #72B2FF;
  --melrose: #A9BAFC;
  --boulder: #7A7A7A;
  --aquamarine: #4BFFDA;
  --silverchalice: #B2B2B2;
  --ecstasy: #F67527;
  --flamingo: #F25037;
  --sunsetorange: #F7453E;
  --mineshaft: #2D2D2D;
  --selago: #F3F6FE;
  --tuna: #343449;
  --azure: #345CB7;
  --boulder: #767676;
  --mercury: #E7E7E7;
  --dimgray: #727272;
  --platinum: #E2E2E2;
  --silverchalice: #A6A6A6;
  --titanwhite: #E7ECFF;
  --dovegray: #6C6C6C;
  --rhino: #353968;
  --shark: #2E2F30;
  --royalblue: #3E60DF;
  --ceruleanblue: #2748C0;
  --yelloworange: #FFA040;
  --yelloworangeBG: rgb(255 160 64 / 15%);
  --mountainmeadow: #1AB651;
  --wildsand: #F4F4F4;
  --zircon: #F1F7FF;
  --dodgerblue1: #0091FF;
  --fordgray: #979797;
  --charlestongreen: #2C2C2C;
  --onahau: #C9E8FF;
  --bridalHeath: #FFF8ED;
  --porcelain: #EDEFF1;
  --shamrock: #2ECC71;
  --shamrockBG: rgb(46 204 113 / 15%);
  --aquahaze: #F6F8FA;
  --gray: #858585;
  --solitude: #E4F1FF;
  --nightrider: #343434;
  --sanjuan: #2A4661;
  --zumthor: #EAF4FF;
  --zircon-body: #F7FAFF;
  --elephant: #0D2238;
  --default-font-size: 1.6rem;
  --boxshadow: 0 4px 11pxrgba(0,0,0,.15);
  --boxshadowdark: 0 1px 6px 0rgba(32,33,36,.28);
  --boxshadowlight: 0 0 17px 1pxrgba(32,33,36,.1);
  --boxshadowlight2: 0 4px 22pxrgba(13,61,98,.19);
  --boxshadowlighter: 0 6px 18px 0rgba(0,0,0,.05);
  --boxshadowspeard: 0 8px 48px 0rgba(0,0,0,.17);
  --guttergap: 3.333rem;
  --grid-width: 114rem;
  --gutter-vertical: 1.667rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
  --small: 2rem;
  --medium: 4rem;
  --big: 6rem;
  --ap-icon-space: .5rem;
  --ap-icon-space-med: .7rem;
  --ap-icon-space-big: 1rem;
  --smallR: .8333rem;
  --mediumR: 1.333rem;
  --circleR: 50%;
  --radius: 5px;
  --widgetRadius: 8px;
  --widgetRadius-5: 5px;
  --widgetRadius-3: 3px;
  --pass: #339b33cc;
  --fail: red;
  --risk: #ff9a35;
  --crash: #960f47;
  --low: #3C7DE5;
  --ap-page-bg: #F2F5FA;
  --ap-font-roboto: 'Roboto',sans-serif;
  --ap-font-open: 'Open',sans-serif;
  --ap-accent-color: #2996FF;
  --ap-accent-light-color: #edf4fb;
  --ap-drodown-hover-bg-colour: #E7E7E73D;
  --ap-drodown-hover-border: #E7E7E780;
  --ap-severity-low: #979797;
  --ap-severity-medium: #45D9D0;
  --ap-severity-high: #FD9A27;
  --ap-severity-critical: #F33;
  --ap-issue-obs: #525DF9;
  --ap-issue-que: #43B5B5;
  --ap-issue-imp: #0091FF;
  --ap-issue-bug: #EB7979;
  --ap-issue-new: #1AB651;
  --ap-issue-sug: #C17AFF;
}

